<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
    <style>
        .jumbotron {
            width: 600px;
            _text-align: center;
            margin: 20px auto 0 auto;
            padding: 10px;
        }

        .jumbotron h3 {
            text-align: center;
        }

        table {
            margin-top: 20px;
        }

        .selecionado {
            background-color: yellow;
        }

        .negrito {
            font-weight: bold;
        }

    </style>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-messages.js"></script>
    <script src="lib/angular/angular-locale_pt-br.js"></script>
    <script>
        angular.module("listaTelefonica", ["ngMessages"]);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope, $http) {

            $scope.app = "Lista Telefonica";

            $scope.contatos = [];

            $scope.operadoras = [];

            var carregarContatos = function () {
                $http.get("http://localhost/angularjsrodrigobranas/02/backend/contatosBackend.php")
                        .success(function (data) {
                            $scope.contatos = data;
                        })
                        .error(function (data) {
                            $scope.message = "Aconteceu algum problema: " + data;
                        });
            };

            var carregarOperadoras = function () {
                $http.get("http://localhost/angularjsrodrigobranas/02/backend/operadorasBackend.php").success(function (data) {
                    $scope.operadoras = data;
                });
            };

            $scope.adicionarContato = function (contato) {
                //$scope.contatos.push(contato);
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
                $scope.contatoForm.$setPristine();

                // add contato
                //$http.post("http://localhost/angularjsrodrigobranas/02/backend/contatosBackend.php", contato).success(data, function(){
                //    delete $scope.contato;
                //    $scope.contatoForm.$setPristine();
                //    carregarContatos();
                //});
            };

            $scope.apagarContatos = function (contatos) {
                $scope.contatos = contatos.filter(function (contato) {
                    if (!contato.selecionado) return contato;
                });
            };

            $scope.isContatoSelecionado = function (contatos) {
                return contatos.some(function (contato) {
                    return contato.selecionado;
                });
                console.log(isContatoSelecionado);
            };

            $scope.ordenarPor = function (campo) {
                $scope.criterioDeOrdenacao = campo;
                $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
            }

            carregarContatos();
            carregarOperadoras();

        });
    </script>
</head>
<body ng-controller="listaTelefonicaCtrl">

<div class="jumbotron">

    <h3>{{app}}</h3>

    <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando">

    {{message}}

    <table ng-show="contatos.length > 0" class="table _table-striped">
        <tr>
            <th>#</th>
            <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
            <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
            <th>Data</th>
            <th>Operadora</th>
            <th>Cor</th>
        </tr>
        <tr ng-class="{'selecionado negrito': contato.selecionado}"
            ng-repeat="contato in contatos | limitTo: 10 | filter:{nome: criterioDeBusca} | orderBy: criterioDeOrdenacao:direcaoDaOrdenacao">

            <td><input type="checkbox" ng-model="contato.selecionado"></td>
            <td>{{contato.nome}}</td>
            <td>{{contato.telefone}}</td>
            <td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
            <td>{{contato.operadora.nome | lowercase}}</td>
            <td>
                <div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div>
            </td>
        </tr>
    </table>

    <hr>

    <form name="contatoForm">

        <div class="form-group">
            <label>Nome</label>
            <input class="form-control" type="text" name="nome" ng-model="contato.nome" ng-required="true"
                   ng-minlength="10">
        </div>

        <div class="form-group">
            <label>Telefone</label>
            <input class="form-control" type="text" name="telefone" ng-model="contato.telefone" ng-required="true"
                   ng-pattern="/^\d{4,5}-\d{4}$/">
        </div>

        <div class="form-group">
            <label>Operadora</label>
            <select class="form-control" ng-model="contato.operadora"
                    ng-options="operadora.nome + ' ( ' + ( operadora.preco | currency ) + ' ) ' for operadora in operadoras | orderBy: 'nome'">
                <option value="">Selecione uma operadora</option>
            </select>
        </div>

    </form>

    <div ng-messages="contatoForm.nome.$error" ng-show="contatoForm.nome.$dirty">
        <div ng-message="required" class="alert alert-danger">
            Preencha o campo Nome
        </div>
        <div ng-message="minlength" class="alert alert-danger">
            Digite pelo menos 10 caracteres
        </div>
    </div>

    <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
        Preencha o campo Telefone
    </div>

    <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
        O campo telefone deve ter o format XXXXX-XXXX
    </div>

    <button class="btn btn-primary btn-block"
            ng-click="adicionarContato(contato)"
            ng-disabled="contatoForm.$invalid"
    >
        Adicionar Contato
    </button>

    <button class="btn btn-danger btn-block"
            ng-click="apagarContatos(contatos)"
            ng-if="isContatoSelecionado(contatos)"
    >
        Apagar Contatos
    </button>

</div>

<div ng-include="'footer.html'"></div>

</body>
</html>